[submodule "vim/bundle/jack"]
	path = vim/bundle/jack
	url = https://github.com/zirrostig/vim-jack-syntax.git
[submodule "vim/bundle/xmlEdit"]
	path = vim/bundle/xmlEdit
	url = git://github.com/sukima/xmledit.git
[submodule "vim/bundle/racket"]
	path = vim/bundle/racket
	url = git://github.com/wlangstroth/vim-racket.git
[submodule "vim/bundle/smoothScroll"]
	path = vim/bundle/smoothScroll
	url = git://github.com/vim-scripts/Smooth-Scroll.git
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/yaml"]
	path = vim/bundle/yaml
	url = https://github.com/avakhov/vim-yaml
[submodule "vim/bundle/syntax-extra-lex-bison-c"]
	path = vim/bundle/syntax-extra-lex-bison-c
	url = git://github.com/justinmk/vim-syntax-extra.git
[submodule "vim/bundle/ruby"]
	path = vim/bundle/ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/commenting"]
	path = vim/bundle/commenting
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/template"]
	path = vim/bundle/template
	url = git://github.com/muff1nman/vim-template.git
[submodule "vim/bundle/coffee-script"]
	path = vim/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/processing"]
	path = vim/bundle/processing
	url = git://github.com/sophacles/vim-processing.git
